{#

partials/carousel-recipe

@author  Jérémy Levron <jeremylevron@19h47.fr

#}

{% for collection in post.get_field( 'collection' ) %}
	<div id="carousel-recipe-{{ random( 1, 100 ) }}" class="Carousel-recipe page-block d-none d-md-block" data-node-type="CarouselRecipe" data-carousel-desktop="true" itemscope itemtype="http://schema.org/Recipe">
		<meta itemprop="author" content="{{ post.author }}">
		<meta itemprop="name" content="{{ post.title }}">
		<meta itemprop="datePublished" content="{{ post.post_date }}">
		<meta itemprop="recipeCuisine" content="{{ post.cuisine | default( 'France' ) }}">

		{% if post.thumbnail %}
			<meta itemprop="image" content="{{ Image( post.thumbnail ).src }}">
		{% endif %}

		{% if post.description %}
			<meta itemprop="description" content="{{ post.description }}">
		{% endif %}

		<meta itemprop="recipeCategory" content="{{ post.terms( 'recipe_category' ) | map( term => term.name ) | join( ', ' ) }}">

		<div class="items js-container">
			{% apply spaceless %}
				<div class="item">
					<div class="item__inner">
						{% if collection.video %}
							<video class="js-video" preload="auto" muted loop playsinline>
								<source src="{{ collection.video }}" type="video/mp4">
							</video>
						{% elseif collection.image %}
							{%- include 'partials/image.html.twig' with { image: collection.image } -%}
						{% endif %}
					</div>

					<div class="item__inner">

						<h3 class="Carousel-recipe__title">
							{{- collection.description | default( pll__( 'Pour commencer <br> tu as besoin de :' ) ) -}}
						</h3>

						{% include 'partials/recipe-summary.html.twig' %}

						{% if collection.ingredients %}
							<ul class="Carousel-recipe__ingredients">
								{{- collection.ingredients | map(item => "<li itemprop=\"recipeIngredient\">#{ item.ingredient }</li>") | join -}}
							</ul>
						{% endif %}

						<div class="Carousel-recipe__precisions">{{- collection.precisions -}}</div>

					</div>

				</div>

				{% for step in collection.steps %}
					<div class="item">
						<div class="item__inner">
							{% if step.video %}
								<video class="js-video" preload="auto" muted loop playsinline>
									<source src="{{ step.video }}" type="video/mp4">
								</video>
							{% else %}
								{%- include 'partials/image.html.twig' with { image: step.image } -%}
							{% endif %}
						</div>
						<div class="item__inner">
							{% if step.title %}
								<p class="Carousel-recipe__title title-step">
									{{- step.title -}}
								</p>
							{% endif %}
							{{- step.description -}}
						</div>
					</div>
				{% endfor %}
			{% endapply %}
		</div>

	    {% if collection.steps | length > 0 %}

		    <div class="Carousel-recipe__progressbar js-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

		    {% include 'partials/carousel-navigation.html.twig' with { count: collection.steps | length + 1 } %}

		{% endif %}
	</div>

	<div id="carousel-recipe-{{ random( 1, 100 ) }}" class="Carousel-recipe page-block d-md-none" data-node-type="CarouselRecipe" data-carousel-desktop="false">

		<div class="items js-container">

			<div class="item">
				<div class="item__inner image-mobile">
					{% if collection.video %}
						<video class="js-video" preload="auto" muted loop playsinline>
							<source src="{{ collection.video }}" type="video/mp4">
						</video>
					{% elseif collection.image %}
						{%- include 'partials/image.html.twig' with { image: collection.image } -%}
					{% endif %}
				</div>
			</div>
			<div class="item">
				<div class="item__inner ingredients-mobile">
					<h3 class="Carousel-recipe__title">
						{{- collection.description | default( pll__( 'Pour commencer <br> tu as besoin de :' ) ) -}}
					</h3>

					{% include 'partials/recipe-summary.html.twig' %}

					{% if collection.ingredients %}
						<ul class="Carousel-recipe__ingredients">
							{{- collection.ingredients | map(item => "<li itemprop=\"recipeIngredient\">#{ item.ingredient }</li>" ) | join -}}
						</ul>
					{% endif %}

					<div class="Carousel-recipe__precisions">{{- collection.precisions -}}</div>

				</div>
			</div>

			{% for step in collection.steps %}
				<div class="item">
					<div class="item__inner image-mobile">
						{% if step.video %}
							<video class="js-video" preload="auto" muted loop playsinline>
								<source src="{{ step.video }}" type="video/mp4">
							</video>
						{% else %}
							{%- include 'partials/image.html.twig' with { image: step.image } -%}
						{% endif %}
					</div>
				</div>
				<div class="item">
					<div class="item__inner ingredients-mobile">

						{% if step.title %}
							<p class="Carousel-recipe__title title-step">
								{{- step.title -}}
							</p>
						{% endif %}
						{{- step.description -}}
					</div>

				</div>
			{% endfor %}
		</div>

	    {% if collection.steps | length > 0 %}

		    <div class="Carousel-recipe__progressbar js-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			{% include 'partials/carousel-navigation.html.twig' with { count: ( ( collection.steps | length ) * 2 ) + 2 } %}

		{% endif %}
	</div>

{% endfor %}
