{#

@file views/partials/footer
@author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}
<footer class="Footer">

	<div class="l-container">
		<div class="row">
			<div class="col-12">
				<div class="Footer-logo">
					<a href="{{ site.url }}">
						<img
							class="img-full"
							src="{{ theme.link }}/{{ manifest['img/svg/logo-orange.svg'] }}"
							alt="{{ site.description }}"
						/>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 text-align-center">
				<ul class="Menu" role="navigation">

					{%
						include 'components/menu.twig'
						with {
							'menu' : menu.main,
							'language': false,
							'search': false,
							'layout': {
								'desktop': true,
								'marker': false
							}
						}
					%}
				</ul>

				<ul class="Footer-socials">
					{% for social in contact.socials %}
						<li class="Footer-socials__item">
							<a href="{{ social.url }}" title="{{ social.name }}" data-title="{{ social.name }}">
								{% include 'svg/use.html.twig' with { classes: [ social.slug ], icon: social.slug } %}
							</a>
						</li>
					{% endfor %}
				</ul>

			</div>

			<div class="col-12 col-md-1 text-align-center">
				<button class="Footer-button js-scroll-to" data-offset="top">
					{% include 'svg/use.html.twig' with { icon: 'arrow-top' } %}
				</button>
			</div>
		</div>
	</div>


	<div class="Footer-copyright">
		<div class="l-container">
			<div class="row">
				<div class="col-12">
					{% spaceless %}
						<span><i>© JVEB&nbsp;{{ 'now' | date( 'Y' ) -}}</i></span>
						<span>Design, <i><a href="http://lesindiens.fr/" target="_blank">Studio Les Indiens</a></i></span>
						<span>&nbsp;&#124;&nbsp;</span>
						<span>Développement, <i><a href="https://19h47.fr/" target="_blank">19h47</a></i></span>
					{% endspaceless %}
				</div>
			</div>
		</div>
	</div>

</footer>
