{#

    /**
     * partials/recipe-simple
     *
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */

#}
<div itemscope itemtype="http://schema.org/Recipe">
	<div class="Recipe-description">

		<meta itemprop="author" content="{{ post.author }}">
		<meta itemprop="name" content="{{ post.title }}">
		<meta itemprop="datePublished" content="{{ post.post_date }}">

		<meta itemprop="recipeCuisine" content="{{ post.cuisine | default( 'France' ) }}">

		{% if post.thumbnail %}
			<meta itemprop="image" content="{{ Image( post.thumbnail ).src }}">
		{% endif %}

		{% if post.description %}
			<meta itemprop="description" content="{{ post.description }}">
		{% endif %}

		<meta itemprop="recipeCategory" content="{{ post.terms( 'recipe_category' ) | map( term => term.name ) | join( ', ' ) }}">

		{% include 'partials/recipe-summary.html.twig' %}

		{% if post.get_field( 'collection' ) %}
			<div class="Recipe-collection">
				{% for collection in post.get_field( 'collection' ) %}
					{% if collection.ingredients %}

						<div class="description" itemprop="recipeInstructions">
							{{- collection.description ? collection.description : "<p> #{ pll__( 'Tu as besoin de …' ) }</p>" -}}
						</div>

						<div class="ingredients">
							<ul>
								{% for item in collection.ingredients %}
									<li class="ingredient" itemprop="recipeIngredient">{{ item.ingredient }}</li>
								{% endfor %}
							</ul>
						</div>

					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

	</div>

	{% if post.get_field( 'collection' ) %}
		<div class="Recipe-steps">
			{% for collection in post.get_field( 'collection' ) %}
				{% if collection.steps %}
					{% for step in collection.steps %}
						<span itemprop="step">{{- step.description -}}</span>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}

	{% if post.gallery %}
		<div class="Recipe-gallery">
			{% include 'partials/slider-post.html.twig' %}
		</div>
	{% endif %}
</div>
