{#

    /**
     * partials/recipe-print
     *
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */

#}
<div class="Recipe-print">

	<div class="Recipe-print__header">
		<h1 class="Recipe-print__title">{{- post.title -}}</h1>
		<p class="Recipe-print__date">
			{{- pll__( 'Publié le' ) -}}&nbsp;{{- post.post_date | date( 'd\.m\.Y' ) -}}
		</p>

		{% include 'partials/image.html.twig' with { image: post.thumbnail, classes: [ 'Recipe-print__thumbnail' ], lazy: 'eager' } %}
		{% include 'partials/recipe-summary.html.twig' %}

		{% for collection in post.get_field( 'collection' ) %}
			<div class="Recipe-print__collection">
				{% if collection.ingredients %}
					<h2 class="Recipe-print__description">
						{{- collection.description ? collection.description : pll__( 'Tu as besoin de …' ) -}}
					</h2>

					<div class="Recipe-print__ingredients">
						<ul>
							{% for item in collection.ingredients %}
								<li class="Recipe-print__ingredient">{{ item.ingredient }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				{{- collection.precisions ? "<div class=\"Recipe-print__precisions\">#{ collection.precisions }</div>" -}}
			</div>
		{% endfor %}

	</div>

	{% if post.get_field( 'collection' ) %}
		{% for collection in post.get_field( 'collection' ) %}
			<div class="Recipe-print__steps">
				{% for step in collection.steps %}
					<div class="Recipe-print__step">
						{{- step.title ? "<h2 class=\"Recipe-print__step__title\">#{ step.title }</h2>" -}}
						{{- step.description -}}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	{% endif %}

	<footer class="Recipe-print__footer">
		<img class="Recipe-print__footer__logo" src="{{ theme.link }}/{{ manifest['img/svg/logo-orange-very-dark.svg'] }}" width="156" height="120"/>
		<p class="Recipe-print__footer__copyright">
			<span class="color-blue-light-grayish-02">
				{{- pll__( 'Recette proposée par le blog' ) -}}
			</span> www.jveuxetrebonne.com
		</p>
	</footer>

</div>
