{#

    /**
     * partials/recipe-print
     *
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */

#}
<div class="Recipe-print">
	<h1>{{- post.title -}}</h1>
	<p class="date">{{- pll__( 'Publié le' ) -}}&nbsp;{{- post.post_date | date( 'd\.m\.Y' ) -}}</p>

	{% spaceless %}

		{% if post.thumbnail %}
			<div class="thumbnail">
				<img src="{{ Image( post.thumbnail ).src( 'large' ) }}" alt="">
			</div>
		{% endif %}

		<div class="color-orange-very-soft">

			{% if post.person_number or post.preparation_time or post.cooking_time %}
				<div class="summary">
					{{ post.person_number ? '<span class="person-number">' ~ post.person_number ~ ' pers.' ~ '</span>' }}
					{{ post.preparation_time ? '<span class="preparation-time">' ~ post.preparation_time ~ ' min' ~ '</span>' }}
					{{ post.cooking_time ? '<span class="cooking-time">' ~ post.cooking_time ~ ' min' ~ '</span>' }}
				</div>
			{% endif %}

			{% for collection in post.get_field( 'collection' ) %}

				{% if collection.description %}
					<div class="summary-title color-orange-very-soft-06">
						{{- collection.description -}}
					</div>
				{% endif %}

				<div class="ingredients">
					<ul>
						{% for item in collection.ingredients %}
							<li class="ingredient">{{- item.ingredient -}}</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	{% endspaceless %}

	{% if post.get_field( 'collection' ) %}
		<div class="steps">
			{% for collection in post.get_field( 'collection' ) %}
				{% if collection.steps %}
					{% for step in collection.steps %}
						{{ step.description }}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}

	<footer>
		<img class="logo" src="{{ theme.link }}/{{ manifest['img/svg/logo-orange-very-dark.svg'] }}" width="156" height="120"/>
		<p class="copyright">
			<span class="color-blue-light-grayish-02">{{- pll__( 'Recette proposée par le blog' ) -}}</span> www.jveuxetrebonne.com
		</p>
	</footer>

</div>
