{#

partials/slider-post

@author  Jérémy Levron <jeremylevron@19h47.fr

#}

<div id="slider-post-{{ id }}" class="Slider-post page-block" data-node-type="SliderPost">

    <ul class="Slider-post__items js-slider-post-container">
        {% for image in post.gallery %}
	        <li class="Slider-post__item">
	        	<img itemprop="image" class="Slider-post__img" src="{{ TimberImage( image ).src( 'large' ) }}" alt="{{ TimberImage( image ).alt | default( post.title ) }}" width="{{ TimberImage( image ).width }}" height="{{ TimberImage( image ).height }}">
	        </li>
    	{% endfor %}
    </ul>

    {% if post.gallery | length > 1 %}

	    <div class="Slider-post__progressbar js-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

		{% include 'partials/slider-navigation.html.twig' with { count: post.gallery | length } %}

	{% endif %}

</div>
