{#

partials/slider-recipe

@author  Jérémy Levron <jeremylevron@19h47.fr

#}

{% for collection in post.get_field( 'collection' ) %}
	<div id="slider-recipe-{{ random( 1, 100 ) }}" class="Slider-recipe page-block d-none d-md-block" data-node-type="SliderRecipe" itemscope itemtype="http://schema.org/Recipe">
		<meta itemprop="author" content="{{ post.author }}">
		<meta itemprop="name" content="{{ post.title }}">
		<meta itemprop="datePublished" content="{{ post.post_date }}">
		<meta itemprop="recipeCuisine" content="{{ post.cuisine | default( 'France' ) }}">

		{% if post.thumbnail %}
			<meta itemprop="image" content="{{ Image( post.thumbnail ).src }}">
		{% endif %}

		{% if post.description %}
			<meta itemprop="description" content="{{ post.description }}">
		{% endif %}

		<meta itemprop="recipeCategory" content="{{ post.terms( 'recipe_category' ) | map( term => term.name ) | join( ', ' ) }}">

		<ul class="items js-container">

			{% spaceless %}
				<li class="item">
					<div class="item__inner">
						{% if collection.image | length %}
							<img src="{{ TimberImage( collection.image ).src( 'large' ) }}">
						{% endif %}
					</div>

					<div class="item__inner">

						<h3 class="Slider-recipe__title">
							{{- collection.description | default( pll__( 'Pour commencer <br> tu as besoin de :' ) ) -}}
						</h3>

						{% if post.person_number or post.preparation_time or post.cooking_time %}
							<ul class="d-flex margin-y-5 align-items-center padding-0 justify-content-center" style="list-style-type: none;">
								{{ post.person_number ? "<li class=\"person-number\">#{ post.person_number } pers.</li>" }}
								{{ post.preparation_time ? "<li class=\"preparation-time\" itemprop=\"prepTime\">#{ post.preparation_time } min</li>" }}
								{{ post.cooking_time ? "<li class=\"cooking-time\" itemprop=\"cookTime\">#{ post.cooking_time } min</li>" }}
							</ul>
						{% endif %}

						{% if collection.ingredients %}
							<ul class="Slider-recipe__ingredients">
								{{- collection.ingredients | map(item => "<li itemprop=\"recipeIngredient\">#{ item.ingredient }</li>") | join -}}
							</ul>
						{% endif %}
					</div>

				</li>

				{% for step in collection.steps %}
					<li class="item">
						<div class="item__inner">
							{% if step.image|length %}
								<img src="{{ TimberImage( step.image ).src }}">
							{% endif %}
						</div>
						<div class="item__inner">
							<p class="Slider-recipe__title title-step">
								{{- pll__( 'Étape' ) -}}&nbsp;{{ loop.index }}
							</p>
							{{- step.description -}}
						</div>
					</li>
				{% endfor %}
			{% endspaceless %}
		</ul>

	    {% if collection.steps | length > 0 %}

		    <div class="Slider-recipe__progressbar js-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

		    {% include 'partials/slider-navigation.html.twig' with { count: collection.steps | length + 1 } %}

		{% endif %}
	</div>

	<div id="slider-recipe-{{ random( 1, 100 ) }}" class="Slider-recipe page-block d-md-none" data-node-type="SliderRecipe">

		<ul class="items js-container">

			{% spaceless %}

			<li class="item">
				<div class="item__inner image-mobile">
					{% if collection.image | length %}
						<img src="{{ TimberImage( collection.image ).src }}">
					{% endif %}
				</div>
			</li>
			<li class="item">
				<div class="item__inner ingredients-mobile">
					<h3 class="Slider-recipe__title">
						{{- collection.description | default( pll__( 'Pour commencer <br> tu as besoin de :' ) ) -}}
					</h3>

					{% if post.person_number or post.preparation_time or post.cooking_time %}
						<ul class="d-flex align-items-center margin-y-5">
							{{- post.person_number ? "<li class=\"person-number\">#{ post.person_number } pers.</li>" : '' -}}
							{{- post.preparation_time ? "<li class=\"preparation-time\">#{ post.preparation_time } min</li>" : '' -}}
							{{- post.cooking_time ? "<li class=\"cooking-time\">#{ post.cooking_time } min</li>" : '' -}}
						</ul>
					{% endif %}

					{% if collection.ingredients %}
						<ul class="Slider-recipe__ingredients">
							{{- collection.ingredients | map(item => "<li itemprop=\"recipeIngredient\">#{ item.ingredient }</li>" ) | join -}}
						</ul>
					{% endif %}

				</div>

			</li>

			{% for step in collection.steps %}
				<li class="item">
					<div class="item__inner image-mobile">
						{% if step.image | length %}
							<img src="{{ TimberImage( step.image ).src }}">
						{% endif %}
					</div>
				</li>
				<li class="item">
					<div class="item__inner ingredients-mobile">

						<p class="Slider-recipe__title title-step">
							{{- pll__( 'Étape' ) -}}&nbsp;{{ loop.index }}
						</p>
						{{- step.description -}}
					</div>

				</li>
			{% endfor %}


			{% endspaceless %}
		</ul>

	    {% if collection.steps | length > 0 %}

		    <div class="Slider-recipe__progressbar js-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			{% include 'partials/slider-navigation.html.twig' with { count: collection.steps|length + 1 } %}

		{% endif %}
	</div>

{% endfor %}
