{#
    
    /**
     * components/link
     * 
     * @author  Jérémy Levron <levronjeremy@19h47.fr
     */
    
#}
<div id="Link-{{ link.id }}" class="Link-blogroll Link-blogroll-category-{{ link.terms()[0].slug }}" {{ link.link_color ? 'data-color="' ~ link.link_color ~ "'" }}>

	{{ link.link_url ? '<a href="' ~ link.link_url ~ '">' }}
		
		<img class="thumbnail" src="{{ link.thumbnail.src | tojpg }}" alt="{{ link.post_title }}" />

		{{ link.link_description ? '<p class="description">' ~ link.link_description ~ '</p>' }}
	
	{{ link.link_url ? '</a>' }}
</div>