{#

/views/components/menu

@author Jérémy Levron <jeremylevron@19h47.fr>

#}
{% if layout.single %}{% include 'components/single-menu.html.twig' %}{% endif %}

{% if layout.desktop %}
	{% for item in menu.get_items %}
	    <div class="item{{ layout.marker ? ' has-stroke-marker' }} {{ item.class }}">
	        <a
	            {{- item.current ? ' class="is-current"' : '' }}
	            {{- item.target ? " target=\"#{ item.target }\" rel=\"noopener\"" : '' }}
	            href="{{ item.url }}"
	        >
	            {{- layout.marker ? '<span>' -}}{{- item.title -}}{{- layout.marker ? '</span>' -}}
	        </a>
	    </div>
	{% endfor %}
{% endif %}

{% if search %}
	<div class="d-none d-md-block item menu-item-search">
	    <button type="button" class="menu-item-search__button js-search-button" aria-label="{{ pll__( 'Rechercher' ) }}">
			{% include 'svg/use.html.twig' with { icon: 'magnifying-glass', classes: [ 'Icon', 'magnifying-glass' ] } %}
	    </button>
	</div>
{% endif %}

{% if language %}
    {% set languages = pll_the_languages( { 'raw': true } ) %}

    <div class="item menu-item-lang">
		{%- for lang in languages -%}
        	<{{ lang.current_lang ? 'p' | raw : "a href=\"#{lang.url}\"" | raw }} class="{{ lang.classes | join( ' ' ) }}">
            	<span class="{{ lang.slug }}">{{- lang.slug -}}</span>
			</{{ lang.current_lang ? 'p' | raw : 'a' | raw }}>
            {{ loop.last ? '' : '&nbsp;•&nbsp;' | raw }}
		{%- endfor -%}
    </div>
{% endif %}

{% if layout.single %}
	<div class="menu-item-button item">
	    <button type="button" class="js-single-menu-button" aria-label="{{ pll__( 'Ouvrir le menu' ) }}">
			{% include 'svg/use.html.twig' with { icon: 'hamburger', classes: [ 'Icon', 'magnifying-glass' ] } %}
	    </button>
	</div>
{% endif %}
