{#
    
    /**
     * Recent post
     * 
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */
    
#}

{% for post in posts %}
    
    <article id="Recent-post-{{ post.ID }}" class="Recent-post">

        <img class="thumbnail img-full" src="{{ TimberImage( post.thumbnail ).src }}" alt="" />

        {# Category #}
        <p class="category">
            {{ post.terms('category') | join(', ') }}
        </p>

        {# Title #}
        <h2 class="title">
            {{ post.post_title }}
        </h2>
        
        {# Date #}
        <p class="date">
            {{ pll__( 'Publié le' ) }}&nbsp;{{ post.date }}
        </p>
        
        {# Excerpt #}
        <p class="excerpt">
            {{ post.post_excerpt }}
        </p>

        {# Read more #}
        <a class="permalink" href="{{ post.link }}">
            {{ pll__( 'Lire la suite' ) }}
        </a>

    </article>

{% endfor %}