{#

Single menu

#}
<div id="single-menu" class="Single-menu page-block" data-node-type="SingleMenu">

	<div class="Single-menu__header">
		<div class="l-container h-100">
			<div class="row d-flex align-items-center h-100">
				<div class="col-12 d-flex justify-content-end">
					<button class="Single-menu__close js-single-menu-button" type="button" aria-label="{{ pll__( 'Fermer' ) }}">
						{% include 'svg/use.html.twig' with { icon: 'close' }  %}
					</button>
				</div>
			</div>
		</div>
	</div>

    <div class="Single-menu__background">
        <div class="l-container h-100">
            <div class="row d-flex align-items-center h-100">
                <div class="offset-3 col-6">
                    <div class="Single-menu__thumbnail">
                        {% for item in menu.get_items %}
                            {% set thumbnail = function( 'get_field', 'thumbnail', item.object_id ) %}
							{% if thumbnail %}
	                            <img
	                                class="js-thumbnail"
	                                src="{{ thumbnail.url }}"
	                                width="{{ thumbnail.width }}"
	                                height="{{ thumbnail.height }}"
	                                alt="{{ thumbnail.alt }}"
	                                data-id="{{ item.object_id }}"
	                            >
							{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-container h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-12">
                <ul class="Single-menu__items">
                    {% for item in menu.get_items %}
                        <li class="Single-menu__item has-stroke-marker js-single-menu-item {{ item.class }}{{ item.current ? ' is-current' }}" style="animation-delay: {{ loop.index / 100 }}s">
                            <a class="" target="{{ item.target }}" href="{{ item.link }}" data-id="{{ item.object_id }}">
                                <span>{{- item.title -}}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
