{#

Sticky post

@author  Jérémy Levron <jeremylevron@19h47.fr

#}

{% for post in posts %}

    <article id="Sticky-post-{{ post.ID }}" class="Sticky-post row">

        <div class="col-12 col-md-6 margin-bottom-7">
            <a class="thumbnail" href="{{ post.link }}">
                <img class="img-full" src="{{ Image( post.thumbnail ).src( 'large' ) }}" alt="{{ Image( post.thumbnail ).alt }}" width="{{ Image( post.thumbnail ).width }}" height="{{ Image( post.thumbnail ).height }}"/>
            </a>
        </div>

        <div class="col-12 col-md-5">
            <header class="Sticky-post-header">
                {# Date #}
                <p class="date">{{- pll__( 'Le' ) -}}&nbsp;{{- post.date -}}</p>

                <span class="color-blue-light-grayish d-inline-block font-title">&nbsp;&bull;&nbsp;</span>

                {# Category #}
                <p class="category lowercase"><em>{{- post.terms('category') | join(', ') -}}</em></p>

                {# Title #}
                <h2 class="title">
                    <a href="{{ post.link }}">
                        {{- post.post_title -}}
                    </a>
                </h2>
            </header>


            {# Preview #}
            <p class="preview">{{- post.get_field( 'preview' ) -}}</p>


            {# Excerpt #}
            <p class="excerpt">{{- post.post_excerpt -}}</p>


            {# Read more #}
            <a class="permalink Link-readmore Link-marker Link-marker--orange" href="{{ post.link }}">
                <span>{{- pll__( 'Lire la suite' ) -}}</span>
            </a>

            {# Footer #}
            {% if post.get_field( 'gallery' ) %}
				<div class="row">
		            <footer class="Sticky-post-footer js-slider-sticky-container hidden-xs hidden-sm">
		                <div class="Sticky-post-footer__inner">

		                    <ul class="Sticky-post-footer__gallery js-slider-sticky">
		                        {% for image in post.get_field( 'gallery' ) %}
		                            <li class="Sticky-post-footer__gallery__item">
		                                <img src="{{ TimberImage( image ) }}" />
		                            </li>
		                        {% endfor %}
		                    </ul>

		                    <button class="Sticky-post-footer__gallery__button js-slider-sticky-next" type="button" >
		                        {% include 'svg/use.html.twig' with { classes: [ 'Icon', 'next' ], icon: 'next' }  %}
		                    </button>

		                </div>
		            </footer>
				</div>
            {% endif %}

        </div>

        {%
            include 'components/aside.twig'
            with {
                'socials': true,
                'shares': false,
                'subscribe': false,
                'email': true
            }
        %}

    </article>

{% endfor %}
