{#

/views/components/tease-post

@package WordPress
@author  Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}
<article class="Tease-post js-load-more-post">
    <div class="Tease-post-inner">
		<a href="{{ post.link }}" aria-label="{{ post.title }}">
        	<img class="thumbnail" src="{{ post.thumbnail }}" alt="{{ post.title }}"/>
		</a>

        {# Header #}
        <header class="Tease-post-header">
            <div class="Tease-post-header__meta">

                <p class="date">
                    {{- pll__( 'Publié le' ) -}}&nbsp;{{- post.date -}}
                </p>

                <span class="d-inline-block font-title">&nbsp;&bull;&nbsp;</span>

                <p class="category"><em class="lowercase">{{ post.categories }}</em></p>

            </div>
            <h2 class="title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
        </header>
    </div>
</article>
