{#

Blocks: load more

blocks/load-more

@author  Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}

<div id="load-more" class="{{ post_template_name | capitalize }}-posts page-block" data-node-type="LoadMore">

	<div class="{{ post_template_name | capitalize }}-posts-container js-container{{ post_template_name == 'list' ? ' row'}}">
		{% include "components/#{ post_template_name }-posts.html.twig" with { 'video': video ? true } %}
	</div>

	<footer class="{{ post_template_name | capitalize }}-posts-footer js-container-footer row">
		<div class="col-12 text-align-center">
			<button
				class="Link-readmore js-button Link-marker Link-marker--orange"
				{{- category ? " data-term-id=\"#{ category.term_id ~ ( category.children ? ',' ~ (category.children | map(c => c.term_id) | join( ',' )) : '' ) }\"" | raw : '' -}}
				data-count="{{ found_posts }}"
				data-per-page="{{ per_page }}"
				data-template="{{ post_template_name }}"
				data-language="{{ current_language }}"
				data-offset=""
			>
				<span>{{- load_more_label -}}</span>
			</button>

		</div>
	</footer>
</div>
