{#
	/**
	 * /views/singles/index
	 */
#}

{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	<div class="Single-header{{ post.color_header ? ' color-black' : ' color-white' }}">
		<div class="l-container">

			<button type="button" class="Menu-search-button js-search-button">
			    {% include 'svg/use.html.twig' with { icon: 'magnifying-glass', classes: [ 'Icon', 'magnifying-glass' ] } %}
			</button>

			<div class="row d-flex align-items-center">
				<div class="col-4 offset-4 col-md-1 offset-md-0">
					<div class="Header-logo">
						{% include 'components/header-logo.twig' %}
					</div>
				</div>
				<div class="col-4 col-md-10 offset-md-1">

					<ul class="Menu d-flex align-items-center flex-row-reverse" role="navigation">
						{%
							include 'components/menu.twig'
							with {
								menu: menu.categories,
								language: true,
								search: true,
								layout: {
									desktop: false,
									single: true
								}
							}
						%}
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="Single-introduction">
		<img
			src="{{ Image( post.thumbnail ).src( 'large' ) }}"
			alt="{{ Image( post.thumbnail ).alt }}"
			width="{{ Image( post.thumbnail ).width }}"
			height="{{ Image( post.thumbnail ).height }}"
		/>
	</div>

	<div class="l-container">
		<div class="row">
			<div class="col-md-2 d-print-none">
				<aside class="Single-aside">

					{# Breadcrumb #}
					<div class="Breadcrumb hidden-xs hidden-md">
						<ul class="Breadcrumb__items">
							<li class="Breadcrumb__item">
								{% spaceless %}

								<a href="{{- site.url -}}">
									{% include 'svg/use.html.twig' with { icon: 'list-style-type-dash' } %}
									{{- pll__( 'Accueil' ) -}}
								</a>

								{% endspaceless %}
							</li>

							{% if is_ancestor_of_food %}
								<li class="Breadcrumb__item">

									{% spaceless %}

									{% include 'svg/use.html.twig' with { icon: 'list-style-type' } %}

									<span class="d-inline-block" title="{{ categoriesString }}">

										{{ pll__( 'Food' ) }}

									</span>
									{% endspaceless %}

								</li>
							{% endif %}

							<li class="Breadcrumb__item">

								{% spaceless %}

								{% include 'svg/use.html.twig' with { icon: 'list-style-type' } %}

								{% set categoriesString = '' %}
								{% for category in categories %}
										{% set categoriesString = categoriesString ~ category.name %}

										{% if not loop.last %}
											{% set categoriesString = categoriesString ~ ', ' %}
										{% endif %}
								{% endfor %}

								<span class="d-inline-block" title="{{ categoriesString }}">

									{{-
										categoriesString | length > 21 ?
										categoriesString | slice( 0, 21 ) ~ '&hellip;' :
										categoriesString
									-}}

								</span>
								{% endspaceless %}

							</li>
							<li class="Breadcrumb__item title">
								{% include 'svg/use.html.twig' with { icon: 'list-style-type' } %}
								{{- post.title | length > 21 ? post.title | slice( 0, 21 ) ~ '&hellip;' : post.title -}}
							</li>
						</ul>
					</div>

					{% if post.get_field( 'rich_content' ) %}
						<div class="Slider-rich-content js-slider-rich-content">

							<button class="Slider-rich-content__close hidden-md hidden-lg hidden-hd js-slider-rich-content-close"></button>
							<ul class="Slider-rich-content__items js-slider-rich-content-container">

								{% for rich_content in post.get_field( 'rich_content' ) %}
									<li class="Slider-rich-content__item" data-id="{{ rich_content.id }}">

										{% if rich_content.img %}
										<img
											class="img"
											src="{{ Image( rich_content.img ).src }}"
											width="{{ Image( rich_content.img ).width }}"
											height="{{ Image( rich_content.img ).height }}"
											alt="{{ Image( rich_content.img ).alt }}"
										>
										{% endif %}

										<h3 class="title">{{ rich_content.title | raw }}</h3>
										<div class="content">{{ rich_content.content }}</div>

										{% if rich_content.link %}
											<a class="link Link-readmore Link-marker Link-marker--white" href="{{ rich_content.link }}" target="_blank">
												<span>{{ rich_content.label ? rich_content.label : pll__( 'Découvrir' ) }}</span>
											</a>
										{% endif %}

									</li>
								{% endfor %}

							</ul>

							{% if post.get_field( 'rich_content' ) | length > 1 %}

								<div class="Slider-rich-content__progressbar js-slider-rich-content-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

								<div class="Slider-rich-content__navigation">

		        					<button class="previous js-slider-rich-content-previous"></button>
		        					<button class="next js-slider-rich-content-next"></button>

		        					<span class="count">
		    							<i class="count-inner js-slider-rich-content-count" data-count="1">
		    								/&nbsp;{{ post.get_field( 'rich_content' ) | length -}}
		    							</i>
		    						</span>
		        				</div>

							{% endif %}
						</div>
					{% endif %}
				</aside>
			</div>

			<div class="col-12 col-md-10 print-w-100">
				<div style="margin: 0 -15px;">
					<article class="Single-article js-single-content">

						<h1 class="title">{{- post.title -}}</h1>


						{# Date #}
						<p class="date">
							{{- pll__( 'Publié le' ) -}}&nbsp;{{- post.post_date | date( 'd\.m\.Y' ) -}}
						</p>


						{# Preview #}
						{% if post.get_field( 'preview' ) %}
							<p class="preview">
								{{- post.get_field( 'preview' ) | nl2br | raw -}}
							</p>
						{% endif %}


						{# Content #}
						{{ post.content ? "<div class=\"content\">#{ post.content }</div>" | raw : '' -}}


						{# Recipe #}
						{% block recipe %}{% endblock %}

						{%
							include 'components/aside.twig'
							with {
								context: 'single',
						'shares': true,
						'socials': false,
						'subscribe': true
						}
						%}
					</article>
				</div>
			</div>
		</div>
	</div>

	{% include 'components/heading.twig' with { 'title': pll__( 'Tu aimeras peut-être aussi' ) } %}

	<div class="Relationship-posts js-relationship-posts">
		<div class="l-container">
			<div class="Relationship-posts__inner">
				<ul class="items js-relationship-posts-container">
					{{ relationship_post }}
				</ul>

				{% spaceless %}

				<button class="previous js-relationship-posts-previous"></button>
				<button class="next js-relationship-posts-next"></button>

				{% endspaceless %}

			</div>
		</div>
	</div>


	{% include 'partials/comments.twig' %}



{% endblock %}
