{#
	/**
	 * /views/pages/about
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{# Banner #}
	{% include 'components/banner.twig' %}

	<div class="About-header">
		<div class="l-container">
			<button class="Menu-search-button js-search-button">
				{% include 'svg/use.html.twig' with { classes: [ 'Icon' ], icon: 'magnifying-glass', theme: theme } only %}
			</button>

			<button class="Menu-button js-toggle-menu-button hidden-md hidden-lg hidden-hd"></button>

			<div class="row">
				<div class="col-4 offset-4 offset-md-0 col-md-1">
					<div class="Header-logo">
						{% include 'components/header-logo.twig' %}
					</div>
				</div>
				<div class="col-12 col-md-10 offset-md-1">


					<ul class="Menu" role="navigation">
						{%
							include 'components/menu.twig'
							with {
								'menu' : menu.categories,
								'language': true,
								'search': true,
								'layout': {
									'desktop': true,
									'marker': true
								}
							}
						%}
					</ul>
				</div>
			</div>
		</div>
	</div>

	{% include 'components/heading.twig' with { 'title': post.title } %}

	<div class="l-container">
		<div class="Sticky-posts">
			<article class="Sticky-post row">

		        <div class="col-12 col-md-5 offset-md-1">
		            <a class="thumbnail" href="{{ post.link }}">
		                <img class="img-full" src="{{ post.thumbnail.src | tojpg | resize( 635, 550 ) }}" alt=""/>
		            </a>
		        </div>

		        <div class="col-12 col-md-5">

		            <header class="Sticky-post-header">
		                {# Title #}
		                <h2 class="title">{{- post.get_field( 'preview' ) -}}</h2>
		            </header>


		            {# Excerpt #}
		            <div class="excerpt">{{- post.content -}}</div>


		            {# Footer #}
		            {% if post.get_field( 'gallery' ) %}
		            <footer class="Sticky-post-footer js-slider-sticky-container hidden-xs hidden-sm">
		                <div class="Sticky-post-footer__inner">

		                    <ul class="Sticky-post-footer__gallery js-slider-sticky">
		                        {% for image in post.get_field( 'gallery' ) %}
		                            <li class="Sticky-post-footer__gallery__item">
		                                <img src="{{ TimberImage( image ) }}" />
		                            </li>
		                        {% endfor %}
		                    </ul>

		                    <button class="Sticky-post-footer__gallery__button js-slider-sticky-next" type="button" >
								{% include 'svg/use.html.twig' with { classes: [ 'Icon' ], icon: 'next', theme: theme } only %}
		                    </button>

		                </div>
		            </footer>
		            {% endif %}

		        </div>

		        {%
		            include 'components/aside.twig'
		            with {
		            	'context':	'about',
		                'socials': false,
		                'shares': false,
		                'subscribe': false,
		                'email': true
		            }
		        %}

		    </article>
		</div>
	</div>

	<div class="l-container About-description">
		<div class="row">
			<div class="col-12">
				<div class="About-description-inner">
					{{- post.description | wpautop -}}

					{# <div class="About-description-footer">
						<a href="http://www.jveb.19h47.fr/" class="Link-readmore Link-marker Link-marker--orange" target="_blank">
							<span>{{ pll__( 'Découvrir jveb studio' ) }}</span>
						</a>
					</div> #}
					{# <img class="img-full" src="{{ theme.link }}/img/png/banner-about.png" alt="" width="2000" height="660" /> #}
				</div>

			</div>
		</div>
	</div>


	{{ links }}

{% endblock %}
