{#
	/**
	 * /views/pages/about
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}
	{{ parent() }}

	{% include 'components/banner.twig' %}
	{% include 'partials/menu-single.html.twig' %}

	{% include 'components/heading.twig' with { title: post.title } %}

	<div class="l-container">
		<div class="Sticky-posts">
			<article class="Sticky-post row">

		        <div class="col-12 col-md-5 offset-md-1 margin-bottom-7">
		            <a class="thumbnail" href="{{ post.link }}">
		                <img class="img-full" src="{{ post.thumbnail.src | tojpg | resize( 635, 550 ) }}" alt=""/>
		            </a>
		        </div>

		        <div class="col-12 col-md-5">

		            <header class="Sticky-post-header">
		                <h2 class="title">{{- post.get_field( 'preview' ) -}}</h2>
		            </header>

		            <div class="excerpt">{{- post.content -}}</div>


		            {# Footer #}
		            {% if post.get_field( 'gallery' ) %}
						<div class="row d-none d-md-flex">
				            <footer class="Sticky-post-footer js-slider-sticky-container">
				                <div class="Sticky-post-footer__inner">

				                    <ul class="Sticky-post-footer__gallery js-slider-sticky">
				                        {% for image in post.get_field( 'gallery' ) %}
				                            <li class="Sticky-post-footer__gallery__item">
				                                <img src="{{ Image( image ).src( 'large' ) }}" alt="{{ Image( image ).alt }}" width="{{ Image( image ).width }}" height="{{ Image( image ).height }}" />
				                            </li>
				                        {% endfor %}
				                    </ul>

				                    <button class="Sticky-post-footer__gallery__button js-slider-sticky-next" type="button">
										{% include 'svg/use.html.twig' with { classes: [ 'Icon' ], icon: 'next', theme: theme } only %}
				                    </button>

				                </div>
				            </footer>
						</div>
		            {% endif %}

		        </div>

		        {%
		            include 'components/aside.twig'
		            with {
		            	'context':	'about',
		                'socials': false,
		                'shares': false,
		                'subscribe': false,
		                'email': true
		            }
		        %}

		    </article>
		</div>
	</div>

	<div class="l-container About-description">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1">
				<div class="About-description-inner">
					{{- post.description | wpautop -}}
				</div>
			</div>
		</div>
	</div>


	{{ links }}

{% endblock %}
