{#
	/**
	 * /views/pages/category
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{% include 'partials/menu.html.twig' %}

	{% if category.children %}

		<div id="SliderFilter" class="Category-list-childs page-block" data-node-type="SliderFilter">
			<div class="l-container">
				<div class="row js-container text-md-center">

					{% for category in category.children %}
						{% if category.count > 0 %}

						<div class="padding-x-md-2">

							<button
								class="Category-list-child js-filters-button"
								style="animation-delay: {{ loop.index / 100 }}s" #}
								data-term-id="{{ category.term_id }}"
								data-slug="{{ category.slug }}"
								data-count="{{ category.count }}"
								data-post-per-page="9"
								data-description="{{ category.description is empty ? category.name : category.description }}"
							>
								<div class="thumbnail">
									<img
										src="{{ Image( category.thumbnail.id ).src|resize( 183, 183) }}"
										alt="{{ category.thumbnail.alt }}"
										width="{{ category.thumbnail.width }}"
										height="{{ category.thumbnail.height }}"
									/>
								</div>
								<h2 class="title" data-term-id="{{ category.term_id }}" data-description="{{ category.description is empty ? category.name : category.description }}">
									{{- category.name -}}
								</h2>
							</button>
						</div>

						{% endif %}
					{% endfor %}

				</div>

				<button type="button" class="next js-next"></button>
				<button type="button" class="previous js-previous"></button>

			</div>
		</div>

	{% endif %}

	{%
		include 'components/heading.html.twig'
		with {
			title: category.description is empty ? category.name : category.description,
			class: 'js-heading'
		}
	%}

	<div class="l-container">
		{%
			include 'blocks/load-more.html.twig'
			with {
				post_template_name: 'list',
				load_more_label: pll__( 'Afficher plus d\'article' )
			}
		%}
	</div>

	{% include 'blocks/instagram-posts.html.twig' %}

{% endblock %}
