{#
	/**
	 * /views/pages/category
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{% include 'partials/menu.html.twig' %}

	{% if category.children %}

		<div class="Category-list-childs js-filter">
			<div class="l-container">
				<div class="row js-slider-filter-container text-md-center">

					{% for category in category.children %}

						{% if category.count > 0 %}

						<div class="padding-x-md-2">{# col-2 #}

							<button
								class="Category-list-child js-filters-button"
								style="animation-delay: {{ loop.index / loop.length }}s"
								data-tag="{{ category.term_id }}" data-count="{{ category.count }}"
								data-post-per-page="9"
								data-description="{{ category.description is empty ? category.name : category.description }}"
							>
								<div class="thumbnail">
									<img
										src="{{ Image( category.thumbnail.id ).src|resize( 183, 183) }}"
										alt="{{ category.thumbnail.alt }}"
										width="{{ category.thumbnail.width }}"
										height="{{ category.thumbnail.height }}"
									/>
								</div>
								<h2 class="title" data-term-id="{{ category.term_id }}" data-description="{{ category.description is empty ? category.name : category.description }}">
									{{ category.name }}
								</h2>
							</button>
						</div>

						{% endif %}
					{% endfor %}

				</div>

				<button class="next js-slider-filter-next"></button>
				<button class="previous js-slider-filter-previous"></button>

			</div>
		</div>

	{% endif %}

	{%
		include 'components/heading.html.twig'
		with {
			title: category.description is empty ? category.name : category.description,
			class: 'js-heading'
		}
	%}

	<div class="l-container">
		{%
			include 'partials/load-more.html.twig'
			with {
				post_template_name: 'list',
				load_more_label: pll__( 'Afficher plus d\'article' )
			}
		%}
	</div>

	{% include 'partials/instagram.html.twig' %}

{% endblock %}
