{#
	/**
	 * /views/pages/front-page
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{% include 'components/banner.html.twig' %}
	{% include 'svg/plyr.svg' %}
	{% include 'partials/menu.html.twig' %}

	<div class="l-container"><div class="Sticky-posts">{{- sticky_post -}}</div></div>

	{{- slider_videos -}}

	{% if posts_on_front_page %}
		{% include 'components/heading.html.twig' with { 'title': pll__( 'Découvrir les articles' ) } %}

		<div class="l-container">
			{%
				include 'blocks/load-more.html.twig'
				with {
					post_template_name: 'tease',
					load_more_label: pll__( 'Charger plus d\'article' )
				}
			%}
		</div>
	{% endif %}

	{% include 'blocks/instagram-posts.html.twig' %}

	<script type="text/html" id="tmpl-tease">
		{% apply spaceless %}
			{% verbatim %}
				<article class="Tease-post js-load-more-post">
					<div class="Tease-post-inner">
						<a href="{{ data.link }}">
					    	<img class="thumbnail" src="{{ data.thumbnail }}"/>
						</a>

					    <header class="Tease-post-header">
					        <div class="Tease-post-header__meta">

					            <p class="date">
					                Publié le&nbsp;{{ data.date }}
					            </p>

					            <span class="d-inline-block font-title">&nbsp;&bull;&nbsp;</span>

					            <p class="category"><em class="lowercase">{{{ data.categories }}}</em></p>

					        </div>
					        <h2 class="title"><a href="{{ data.link }}">{{ data.title }}</a></h2>
					    </header>
					</div>
				</article>
			{% endverbatim %}
		{% endapply %}
	</script>

{% endblock %}
