{#
	/**
	 * /views/pages/404
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{# Banner #}
	{% include 'components/banner.html.twig' %}
	{% include 'partials/menu-single.html.twig' %}

	<div class="l-container page-content {{ post.class }}" id="{{ post.id }}">
		<div class="row">
			<div class="col-12 col-md-6 col-md-offset-3">
				<h1 class="font-bold">{{- post.title -}}</h1>
				{{- post.content -}}
			</div>
		</div>
	</div>

{% endblock %}
